<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='/css/style.css') }}">
        <title>Edit</title>
    </head>
    <body>
        <!-- Error message section -->
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <div class="container-errorMes">
            <div class=flashes>
                {% for category, message in messages %}
                <div class="alert alert-{{ category }}" role="alert">
                    {{ message }}
                </div>
                {% endfor %}
            </div>
        </div>
        {% endif %}
        {% endwith %}
        <!-- End error message section -->
        <div class="container edit">
            <div class="row">
                <div class="col-xs-6 col-md-6"></div>
                <div class="col-xs-6 col-md-6">
                    <div class="nav">
                        <td><a class="btn btn-primary" href="/job/show/{{one_job.id}}" role="button">View</a></td>
                        <a class="btn btn-success" href="/dashboard">Dashboard</a>
                        <a class="btn btn-primary" href="/logout">Logout</a>
                    </div>
                </div>
                <div class="row">
                    <div class="container-form">
                        <h3>Edit Job</h3>
                        <form class="form_create"action="/job/update" method="POST">
                            <input type="hidden" name="id" value="{{ one_job.id }}">
                            <label for="name">Name</label>
                            <input type="text" value="{{ one_job.name }}" name="name" >
                            <label for="date">Date</label>
                            <input type="date" value="{{ one_job.date }}" required name="date" >
                            <label for="num_volunteers">Number of Volunteers</label>
                            <input type="number" value="{{ one_job.num_volunteers }}" name="num_volunteers" >
                            <label for="start_time">Start Time</label>
                            <input type="time" value="{{ one_job.start_time }}" required name="start_time" >
                            <label for="end_time">End Time</label>
                            <input type="time" value="{{ one_job.end_time }}" required name="end_time" >
                            <label for="location">Location</label>
                            <input type="text" value="{{ one_job.location }}" name="location" >
                            <label for="description">Description</label>
                            <textarea class="edit-textarea" rows="10" name="description" type="input">{{ one_job.description }}</textarea>
                            <button class="btn btn-edit btn-primary" type="submit">submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
            <script type="text/javascript" src="{{ url_for('static', filename='/js/script.js') }}"></script>

    </body>
</html>
