<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"> -->
        <link rel="stylesheet" href="{{ url_for('static', filename='/css/style.css') }}">
        <title>new</title>
    </head>
    <body>
        <div class="containerCreate">
            <div class="navCreate">
                <a class="navCreateBtn" href="/dashboard">Dashboard</a>
                <h3 class="navCreateLabel" >Job Creator</h3>
                <a class="navCreateBtn" href="/logout">Logout</a>
            </div>
                <div class="containerFormCreate">
                <!-- Error message section -->
                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                <div class="flashContainer">
                    <div class=flashes>
                        {% for category, message in messages %}
                        <div class="alert alert-{{ category }}" role="alert">
                            {{ message }}
                        </div>
                        {% endfor %}
                    </div>
                </div>
                {% endif %}
                {% endwith %}
                <!-- End error message section -->
                <form class="formCreate" action="/job/create" method="POST">
                    <label for="name">Name</label>
                    <input type="text" placeholder="job title" name="name" >
                    <label for="num_volunteers">Number of Volunteers</label>
                    <input type="number" placeholder="qty of Volunteers" name="num_volunteers" >
                    <label class="formDate" for="start_time">Start Time</label>
                    <input class="formDate" type="datetime-local" placeholder="" required name="start_time" >
                    <label class="formDate"for="time">End Time</label>
                    <input class="formDate" type="datetime-local" placeholder="" required name="end_time" >
                    <label for="location">Location</label>
                    <input type="text" placeholder="At least 5 characters" name="location" >
                    <label for="description">Description</label>
                    <textarea class="edit-textarea" placeholder="At least 20 characters" rows="10" name="description" type="input"></textarea>
                    <div class="button">
                        <button class="indexBtn" type="submit">submit</button>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>
