<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/style.css') }}">
    <title>show</title>
</head>
<body>
    <div class="containerShow">
            <div class="navBar">
                <div class="nav">
                    <a class="navShowBtn" href="/dashboard">Dashboard</a>
                    <div class="organizedBy">
                        <h2>{{ one_job.name }}</h2>
                        <h3>Organized by {{ one_job.creator.first_name }}</h3>
                    </div>
                    <a class="navShowBtn" href="/logout">Logout</a>
                </div>
            </div>
            <div class='showTable'>
                <table class="indJob">
                    <tr>
                        {% if (signups | length >= one_job.num_volunteers) %}
                        <td class="tdShow" >Status: FULL</td>
                        {% else %}
                        <td class="tdShow">Status: OPEN</td>
                        {% endif %}
                    </tr>
                    <tr>
                        <td class="tdShow">Date: {{ one_job.date.strftime('%m-%d-%Y') }}</td>
                    </tr>
                    <tr>
                        <td class="tdShow">Start Time: {{ one_job.start_time }}</td>
                    </tr>
                    <tr>
                        <td class="tdShow">End Time: {{ one_job.end_time }}</td>
                    </tr>
                    <tr>
                        <td class="tdShow">Number of Volunteers: {{ one_job.num_volunteers }}</td>
                    </tr>
                    <tr>
                        <td class="tdShow">Location: {{ one_job.location }}</td>
                    </tr>
                    <tr>
                        <td class="tdShow">Description: {{ one_job.description }}</td>
                    </tr>
                    <tr>
                        <td class="tdShow">
                            <div class="btnsShow">
                                    <!-- delete button -->
                                {% if session['id'] == one_job.creator.id %}
                                <form action="/job/delete/{{one_job.id}}" method="POST">
                                    <input type="hidden" name="id" value="{{one_job.id}}">
                                    <button type="submit" class="btnShow">delete job</button>
                                </form>
                                {% endif %}
                                <!-- Edit button -->
                                {% if session['id'] == one_job.creator.id %}
                                <a class="btnShow" href="/job/edit/{{one_job.id}}" role="button">edit job</a>
                                {% endif %}
                                <!-- signup button -->
                                <!-- if user is signuped; they see button to
                                    unsignup -->
                                {% if session['id'] in signups | map(attribute='user_id') %}
                                    <form action="/signup/delete" method="POST">
                                        <input type="hidden" name="job_id" value="{{one_job.id}}">
                                        <input type="hidden" name="user_id" value="{{session['id']}}">
                                        <button type="submit" class="btnShow">remove from list</button>
                                    </form>
                                {% else %}
                                <!-- If signups == num_volunteers then signup btn
                                    doesn't display and says job full -->
                                    {% if (signups | length >= one_job.num_volunteers) %}
                                    <p>Full - no more voluteers needed</p>
                                    {% else %}
                                    <form action="/signup" method="POST">
                                        <input type="hidden" name="job_id" value="{{one_job.id}}">
                                        <input type="hidden" name="user_id" value="{{session['id']}}">
                                        <button type="submit" class="btnShow">signup</button>
                                    </form>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </td>
                    </tr>
                </table>
                <h3 class="vol" >Volunteers</h3>
                <table>
                    {% if session['id'] == one_job.creator.id %}
                    {%  for c in signups %}
                    <tr class="signUpsRow">
                        <td class="tdShow">
                            {{c.users_who_signuped.first_name}} {{c.users_who_signuped.last_name}} |
                        </td>
                        <td class="tdShow">
                            email: {{c.users_who_signuped.email}} |
                        </td>
                        <td class="tdShow">
                            phone: {{c.users_who_signuped.phone}}
                        </td>
                    </tr>
                    {% endfor %}
                    {% else %}
                    {%  for c in signups %}
                    <tr>
                        <td class="tdShow">
                            {{c.users_who_signuped.first_name}}
                        </td>
                    </tr>
                    {% endfor %}
                    {% endif %}
                </table>
            </div>
    </div>
    

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='/js/script.js') }}"></script>
</body>
</html>
